<script>
  window.refertle_app_url = "https://edmond-mouthier-ununiquely.ngrok-free.dev";
  window.refertle_customer_id = "{{ customer.id }}";
</script>

{% if customer %}
<div class="refertle-widget-wrapper refertle-wallet" style="padding: {{ block.settings.padding }}px;">
  <button id="refertle-wallet-btn" class="refertle-btn" style="color: {{ block.settings.color }}; border-color: {{ block.settings.color }};">
    {{ block.settings.label }} <span id="refertle-wallet-value">...</span>
  </button>
  
  <div id="refertle-wallet-popover" class="refertle-popover">
     <h3>Wallet Details</h3>
     <p>Current Balance: <span id="refertle-wallet-popover-value" class="highlight">...</span></p>
     <p style="font-size: 12px; color: #777;">Use this balance at checkout to save on your orders.</p>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Wallet Balance",
  "target": "section",
  "stylesheet": "referral-widget.css",
  "javascript": "refertle-widgets.js",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "My Wallet:"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 10
    }
  ]
}
{% endschema %}
